*
!Cargo.toml
!Cargo.lock
!rust-toolchain.toml
!crates/
!crates/**
!bindings/
!bindings/**
!vendor/
!vendor/headless_chrome/
!vendor/headless_chrome/**

**/.git
**/.git/**
**/target
**/target/**
bindings/c/build
bindings/c/build/**
bindings/node/node_modules
bindings/node/node_modules/**
bindings/node/*.node
bindings/python/.venv
bindings/python/.venv/**
bindings/python/**/__pycache__
bindings/python/python/basecrawl/_basecrawl*.so
